/* common css */
:root {
  --main-color: #f9feff;
  --secondary-color: #2d3f69;
  --link-color: rgb(239, 255, 11);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 8px;
}
.admin-link {
  color: black;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: 0 0 2px rgb(3, 6, 145);
  background-color: var(--main-color);
  border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--secondary-color);
}
@import url("https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i");
body {
  background: var(--main-color);
}
p {
  margin-bottom: 2rem;
  margin-top: 1rem;
  line-height: 1.5rem;
}
.light {
  color: var(--link-color);
}
.semi-light {
  color: var(--secondary-color);
}
.main-btn {
  background-color: var(--secondary-color);
  border-radius: 20px;
  padding: 0.7rem 1.7rem;
  border: none;
  margin-right: 1rem;
}
.main-btn a {
  color: var(--link-color);
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-btn a:hover {
  color: var(--secondary-color);
}
.main-btn:hover {
  background: transparent;
  border: solid 1px var(--secondary-color);
}
.quick-link {
  color: var(--link-color);
}

a {
  text-decoration: none;
  font-weight: 500;
  color: var(--secondary-color);
}

/*action  */
.nav {
  display: flex;
  justify-content: space-around;
  background: var(--main-color);
  box-shadow: 0 0 5px 0 rgb(196, 195, 195);
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
}
.nav-link {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  color: var(--link-color);
}

.nav-link:hover {
  border: 1px solid var(--secondary-color);
  border-radius: 20px;
}
.logo {
  z-index: 2;
}

/* media queries of nav bar */
@media screen and (max-width: 700px) {
  .hamburger {
    cursor: pointer;
    z-index: 2;
  }
  .line {
    width: 20px;
    height: 3.4px;
    margin: 3px;
    background-color: var(--secondary-color);
  }

  .nav {
    justify-content: space-between;
  }
  .nav-links {
    position: fixed;
    background: linear-gradient(
      to bottom,
      var(--main-color),
      var(--secondary-color)
    );
    height: 100%;
    width: 100%;
    flex-direction: column;
    clip-path: circle(1000px at 90% -10px);
    -webkit-clip-path: circle(1000px at 90% -10px);
    transition: all 100ms ease-in;
    top: 0;
    left: -20;
    right: 0;
    margin: auto;
    margin-top: 20px;
  }

  .nav-link {
    margin: auto;
    border-radius: 20px;
    background-color: var(--secondary-color);
  }
  .nav-links.open {
    clip-path: circle(10px at 90% 50px);
    -webkit-clip-path: circle(10px at 90% -10px);
  }
  .nav-link a {
    color: var(--link-color);
  }
  .introduction {
    flex-direction: column-reverse;
    text-align: center;
  }
  .goals-section {
    /* margin-top: 30rem; */
    flex-direction: column;
    margin: auto;
    padding: 0.1rem;
    margin-top: 2rem;
  }
  .each-goal {
    margin: 0.5rem;
    padding: 0.5;
  }
  .each-service-card {
    flex-direction: column;
  }
  .contact-us-wraper {
    flex-direction: column;
  }
}

/* media queries of nav bar ends here */

.main-screen {
  min-height: 90vh;
  width: 95%;
  max-width: 1000px;
  margin: auto;
  top: 0;
}
.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 7.6rem;
}

.svg {
  width: 100%;
  height: 100%;
}
.intro {
  margin: auto;
  width: 95%;
  max-width: 1200px;
}

.intro p {
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
}
.slogan {
  text-align: center;
  font-size: 1.8rem;
  font-family: cursive;
}

.link-btns {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.goals-section {
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 1000px;
  background: var(--main-color);
  margin: auto;
  padding: 1rem;
}
.icon-image {
  width: 150px;
  height: 150px;
  align-items: center;
  border: 1.3px solid var(--secondary-color);
  border-radius: 200px;
}

.each-goal {
  margin: 0.5rem;
  box-shadow: 0 0 13px black;
  text-align: center;
  padding: 1rem;
  background: var(--secondary-color);
  border-radius: 8px;
}
.each-goal:hover {
  border: 1px solid var(--secondary-color);
}
.goals-wraper {
  background: linear-gradient(to top, rgb(134, 151, 206), var(--main-color));
}
.each-goal h4 {
  color: var(--link-color);
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1rem;
}
.each-goal p {
  color: var(--main-color);
}
.services-section {
  width: 90%;
  max-width: 1050px;
  margin: auto;
}
.title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.4rem 1rem;
  background-color: var(--secondary-color);
  border-radius: 5px;
  max-width: 800px;
  margin: auto;
  color: var(--link-color);
  margin-top: 2rem;
}
.each-service-card {
  border-radius: 5px;
  box-shadow: 0 0 3px;
  margin: 1rem 0;
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.each-service-card h4 {
  color: var(--secondary-color);
  padding: 1.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}
.about {
  background-color: var(--secondary-color);
  border-radius: 5px;
  width: 85%;
  max-width: 1000px;
  box-shadow: 0 0 10px rgb(18, 8, 54);
  margin: auto;
  padding: 0.9rem;
  padding-bottom: 2rem;
  text-align: center;
  color: var(--main-color);
  line-height: 1.5rem;
}
.testmonials {
  width: 85%;
  max-width: 800px;
  margin: auto;
  padding: 0.9rem;
  padding-bottom: 1rem;
  text-align: center;
}
.testmonials-title {
  color: var(--secondary-color);
  font-size: 1.5rem;
  padding-top: 0.5rem;
}
.testmonials-name {
  color: var(--secondary-color);
  font-size: 0.7rem;
  text-transform: uppercase;
  padding-top: 0.8rem;
  font-style: italic;
}
.description {
  align-items: center;
  padding: 1rem 0;
}
.about h1 {
  padding: 1rem;
}
footer {
  background-color: var(--secondary-color);
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  color: var(--main-color);
  padding: 0.7rem;
}
span {
  color: black;
}
.sp-span {
  color: var(--link-color);
}
.team {
  width: 95%;
  max-width: 1050px;
  margin: auto;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 0 3px var(--secondary-color);
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.leading-team {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-content: space-around;
  align-items: flex-start;
}
.leading {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-bottom: 1px solid var(--secondary-color);
}
.each-member {
  border-radius: 5px;
  box-shadow: 0 0 5px var(--secondary-color);
  margin: 0.5rem;
  padding: 1rem;
  text-align: center;
}
.each-member:hover {
  border: 1px solid var(--secondary-color);
}
.each-member h4 {
  color: var(--secondary-color);
  padding: 1rem;
}
.member-image {
  width: 150px;
  align-items: center;
  border: 1.3px solid var(--secondary-color);
  border-radius: 200px;
}
.important-links {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 1rem;
}
.important {
  padding: 0.6rem;
}
.social-medias {
  list-style: none;
  display: flex;
  justify-content: center;
  text-align: center;
}
.each-social {
  border-radius: 200px;
  width: 30px;
  height: 30px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}

.each-social:hover {
  border: 1px solid var(--secondary-color);
}
.each-social a {
  color: var(--main-color);
}
.each-social a:hover {
  color: var(--link-color);
}
.contact {
  box-shadow: 0 0 3px black;
  border-radius: 5px;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 2rem;
}
.contact-us-wraper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  margin: auto;
}
input {
  background-color: transparent;
  margin: 1rem;
  border: 1px solid var(--secondary-color);
}
input:focus {
  outline: none;
  border: 2px solid var(--secondary-color);
}
form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.form input, textarea {
  width: 100%;
  border-radius: 10px;
  background-color: transparent;
  margin: 1rem;
  border: 1px solid var(--secondary-color);
  padding: 0.5rem;
}
.send {
  margin: 1rem;
  padding: 0.6rem 2rem;
  border-radius: 50px;
  background-color: var(--secondary-color);
  color: var(--link-color);
  border: none;
}
.send:hover {
  color: var(--secondary-color);
  background-color: var(--link-color);
  border: 1px solid var(--secondary-color);
}
button:focus {
  outline: none;
}
.kwikina {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
.read-more {
  background-color: var(--secondary-color);
  padding: 0.3rem 1.3rem;
  border: 1px solid var(--link-color);
  border-radius: 20px;
}
.read-more a {
  color: var(--main-color);
}
.read-more a:hover {
  color: var(--secondary-color);
}
.read-more:hover {
  background-color: var(--link-color);
}
.hidden {
  display: none;
}
.service-image {
  width: 100%;
}
.each-testmonial {
  display: none;
  padding: 10px;
  margin-top: 1rem;
}
.each-testmonial p {
  margin-bottom: 1rem;
}

@media screen and (min-width: 700px) {
  .service-image {
    width: 380px;
  }
}
.validation {
  color: red;
}
.success {
  color: white;
  background: rgb(78, 241, 78);
  padding: 10px;
}
.testmonials-wrapper {
  position: relative;
}

/* testimonials slide css */
.prev,
.next {
  background: var(--secondary-color);
  color: var(--main-color);
  padding: 5px;
  font-size: 1.2rem;
  box-shadow: 0 0 3px gray;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 10px;
  user-select: none;
  position: absolute;
  top: 50%;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
.prev:hover,
.next:hover {
  background: rgb(105, 84, 221);
}
