:root {
  --main-color: #f8fcff;
  --secondary-color: #1a60f7;
  --link-color: rgb(252, 236, 21);
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--main-color);
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 800px;
  align-items: center;
  margin-top: 1rem;
}
nav button {
  padding: 0.3rem 2rem;
  margin-left: 1rem;
  background-color: var(--secondary-color);
  color: var(--link-color);
  font-size: 1.2rem;
  border: none;
  border-radius: 20px;
}
nav button:hover {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  background-color: transparent;
}
h1 {
  color: var(--secondary-color);
  /* background-color: var(--secondary-color);
  padding: 0.6rem 0;
  border-radius: 52px; */
  /* margin-bottom: 2rem; */
}
h2 {
  font-size: 1.5rem;
  color: var(--secondary-color);
  text-transform: capitalize;
}

.login {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin: auto;
  max-width: 400px;
  margin-top: 10%;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--secondary-color);
  padding: 2rem;
}
input {
  padding: 0.7rem 1.2rem;
  border: 1.2px solid var(--secondary-color);
  background-color: transparent;
  margin-top: 1rem;
  border-radius: 20px;
  width: auto;
}
input:hover {
  border: 1.5px solid var(--secondary-color);
}
input:focus {
  outline: none;
  border-bottom: 3px solid var(--secondary-color);
}
.submit {
  margin-top: 2rem;
  padding: 0.6rem 0rem;
  width: 50%;
  background-color: var(--secondary-color);
  color: var(--link-color);
  border: none;
  font-size: 1.2rem;
  border-radius: 20px;
}
.submit:hover {
  color: var(--secondary-color);
  background-color: var(--link-color);
}

/* admin.html */
.commentSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 95%;
  max-width: 800px;
  margin: auto;
  margin-top: 6rem;
}
.singleComment {
  border-radius: 5px;
  box-shadow: 0 0 3px var(--secondary-color);
  padding: 1rem;
  margin-top: 0.4rem;
}
.options {
  display: flex;
  justify-content: space-around;
  margin-top: 0.8rem;
}
.opt-btn {
  color: var(--main-color);
  border: none;
  border-radius: 5px;
  padding: 0.4rem 0.6rem;
  background-color: var(--secondary-color);
}
.opt-btn:hover {
  border: 1px solid var(--secondary-color);
  background-color: transparent;
  color: var(--secondary-color);
}
.email {
  color: rgb(112, 108, 108);
  margin-top: 1.2rem;
}
